<div>
  <h1>Contact List</h1>
  <div class="row ">
    <div class="col-md-2">
      <button class="btn btn-lg btn-primary "
              (click)="addContact('John/ Doe','123.456.7890','jdoe@gmail.com','123/ Goa/ Way')">Add Contact
      </button>
    </div>
    <div class="col-md-10"><input class="form-control" id="searchinput" type="search" placeholder="Search..."></div>
  </div>
  <hr/>
  <div class="container">
    <ul class="list-group" *ngFor="let contact of contacts">
      <li><a (click)="goToContact(contact)" class="list-group-item row">
        <div class="row">
          <div class="col-md-2">
            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens"
                 class="img-responsive img-circle" width="30"/>
          </div>
          <div class="col-md-8">
                <h4 class="list-group-item-heading">{{contact.name}}</h4>
          </div>
          <div class="col-md-2">
                  <span class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="{{contact.email}}"></span>
                  <span class="glyphicon glyphicon-earphone" data-toggle="tooltip" title="{{contact.phone}}"></span>
                  <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" title="{{contact.address}}"></span>
          </div>
        </div>
      </a></li>
    </ul>
  </div>
</div>
